* {
  --header-bkg-color: darkolivegreen;
  --text-container-bkg-color: #f1fcde;
  --keyboard-container-bkg-color: #faefe8;
  --button-color: aliceblue;
  --text-input-border: #dfe1e5;
}

body {
  font-family: Ubuntu;
  margin: 0;
  display: grid;
  height: 100vh;
}

.header-container {
  background-color: var(--header-bkg-color);
  width: 100vw;
  height: 5vh;

  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
}

.user-img {
  width: 1.5rem;
  height: 1.5rem;

  justify-self: center;
}

.user-name {
  margin: 0;
  color: white;
  font-weight: bold;

  justify-self: center;
}

.message-section {
  background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  display: grid;
  grid-template-rows: 0.2fr 2fr;
}

.msg-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-date {
  background-color: var(--text-container-bkg-color);
  width: 5rem;
  text-align: center;
  padding: 0.2rem;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.message-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: scroll;
}

.msg {
  background-color: var(--text-container-bkg-color);
  margin: 0.2rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.msgHour {
  font-size: 0.6rem;
  font-weight: bold;
}

.text-container {
  background-color: var(--text-container-bkg-color);
  width: 100vw;
  height: 5vh;

  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.text-input {
  border: 1px solid var(--text-input-border);
  border-radius: 15px;
  height: 70%;

  flex-grow: 1;
}

.keyboard-container {
  background-color: var(--keyboard-container-bkg-color);
  width: 100vw;
  height: 25vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  flex: 1 1 10%;
  border: solid 1px var(--button-color);
  background-color: unset;
}

.btn:active {
  background-color: var(--button-color);
}

.space {
  flex-basis: 25%;
}

.symbols {
  flex-basis: 12%;
}

.emoji-icon,
.send-icon,
.keyboard-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
