* {
  --header-bkg-color: #128c7e;
  --message-section-bkg: linear-gradient(0.25turn, #99dcf8, #ebf8e1, #f7c896);
  --message-bkg-color: #eafdd1;
  --message-bkg-color2: #ffffff;
  --keyboard-container-bkg-color: #faefe8;
  --button-color: aliceblue;
}

body {
  font-family: Ubuntu;
  margin: 0;
  display: grid;
  height: 100vh;
}

header {
  height: 8vh;
}

.header-container {
  background-color: var(--header-bkg-color);
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-areas: 'img name empty settings';
  grid-template-columns: 1fr 2fr 3fr 0.5fr;
  align-items: center;
}

.bkg-user-img {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 10;

  grid-area: img;
  justify-self: center;
}

.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 40px;
  z-index: 20;

  grid-area: img;
  justify-self: center;
}

.user-name {
  margin: 0;
  font-weight: bold;
  color: white;

  grid-area: name;
  justify-self: center;
}

.settings-icon {
  width: 1rem;
  height: 1rem;

  grid-area: settings;
}

.message-section {
  background: var(--message-section-bkg);
  height: 60vh;

  display: grid;
  grid-template-rows: 0.2fr 2fr;
}

.msg-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-date {
  background-color: var(--message-bkg-color);
  width: 5rem;
  text-align: center;
  padding: 0.2rem;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.messages-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: scroll;
}

.messages-container div {
  background-color: var(--message-bkg-color);
  margin: 0.2rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 80%;

  display: flex;
}

.msg {
  margin: 0;
}

.msg-hour {
  margin: 0;
  margin-left: 0.7rem;
  font-size: 0.6rem;
  font-weight: bold;

  align-self: flex-end;
}

.text-container {
  background: var(--message-section-bkg);
  width: 100vw;
  height: 7vh;

  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.text-input {
  border: none;
  border-radius: 20px;
  height: 70%;
  padding-left: 1rem;
  padding-right: 1rem;

  flex-grow: 1;
}

textarea {
  resize: none;
  outline: none;
}

.keyboard-container {
  background-color: var(--keyboard-container-bkg-color);
  width: 100vw;
  height: 25vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  flex: 1 1 10%;
  border: solid 1px var(--button-color);
  background-color: unset;
}

.btn:active {
  background-color: var(--button-color);
}

.space {
  flex-basis: 25%;
}

.symbols,
.letters {
  flex-basis: 12%;
}

.emoji-icon,
.send-icon,
.keyboard-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
